    <section class="p-2">
        <div class="card text-center">
            <div class="card-header">
              Create a post
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group p-2">
                        <label for="postTitle">Post name</label>
                        <input type="text" class="form-control" id="postName"  placeholder="Post name">
                      </div>
                    <div class="form-group p-2">
                      <label for="postDescription">Post description</label>
                      <input type="text" class="form-control" id="postDescription" placeholder="Post description">
                    </div>
                    <button type="submit" class="btn btn-primary">Post</button>
                  </form>
            </div>
          </div>
    </section>


<script src="../public/javascript/new-post.js"></script>